@tailwind base;
@tailwind components;
@tailwind utilities;

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  text-align: center;
}
section h2 {
  text-align: center;
}
section p {
  text-align: center;
}
